<form [formGroup]="updateGameStudioForm" (ngSubmit)="updateGameStudio()">

    <div>
        <h1>Update the game studio</h1>
    </div>

    <div *ngIf="!isIdInputHidden">
        <mat-form-field appearance="fill">
            <mat-label>Enter the game studio's id</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the game studio's name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the date of establishment</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfEstablishment">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the game studio's main office</mat-label>
            <input matInput formControlName="mainOffice">
        </mat-form-field>
    </div>

    <div>
        <button mat-stroked-button color="accent" type="submit">Update</button>
    </div>

  </form>