   <table mat-table [dataSource]="gameStudios" class="mat-elevation-z8" (change)="ngOnInit()">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let gameStudio">{{gameStudio.name}}</td>
    </ng-container>
    
    <ng-container matColumnDef="dateOfEstablishment">
      <th mat-header-cell *matHeaderCellDef>Date Of Establishment</th>
      <td mat-cell *matCellDef="let gameStudio">{{gameStudio.dateOfEstablishment}}</td>
    </ng-container>

    <ng-container matColumnDef="mainOffice">
      <th mat-header-cell *matHeaderCellDef>Main Office</th>
      <td mat-cell *matCellDef="let gameStudio">{{gameStudio.mainOffice}}</td>
    </ng-container>

    <ng-container matColumnDef="games">
      <th mat-header-cell *matHeaderCellDef>Games</th>
      <td mat-cell *matCellDef="let gameStudio">
         <!--THIS IS WHERE YOU ARE ITERATING THROUGH ARRAY OF RULES OBJECT-->
          <ng-container *ngFor="let game of gameStudio.games; let isLast = last">
              {{isLast ? game.name : game.name + ','}}
          </ng-container>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>