<form [formGroup]="createGameStudioForm" (ngSubmit)="createGameStudio()">
    
    <div>
        <h1>Create a game studio</h1>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the game studio's name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <span class="validationError" *ngIf="name.errors?.['required'] && (name.dirty || name.touched)">
            Name is required.
        </span>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the date of establishment</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfEstablishment">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <span class="validationError" *ngIf="dateOfEstablishment.errors?.['required'] && (dateOfEstablishment.dirty || dateOfEstablishment.touched)">
                Date Of Establishment is required.
          </span>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter the game studio's main office</mat-label>
            <input matInput formControlName="mainOffice">
        </mat-form-field>
        <span class="validationError" *ngIf="mainOffice.errors?.['required'] && (mainOffice.dirty || mainOffice.touched)">
            Main Office is required.
        </span>
        <span class="validationError" *ngIf="mainOffice.errors?.['minlength']">
            Main Office must be at least 6 characters long.
        </span>
    </div>

    <div>
        <back-button-component></back-button-component>
        <button mat-stroked-button color="accent" type="submit" class="formCreateGameStudioButton">Create</button>
    </div>

  </form>